/*  buttons settings
 *  - for buttons and links that look like buttons
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.badge-primary {
  color: $primary;
  background-color: white;
  border: 1px solid $primary;
}
.badge-secondary {
  color: $secondary;
  background-color: white;
  border: 1px solid $secondary;
}
.badge-success {
  color: $success;
  background-color: white;
  border: 1px solid $success;
}
.badge-warning {
  color: $warning;
  background-color: white;
  border: 1px solid $warning;
}
.badge-info {
  color: $info;
  background-color: white;
  border: 1px solid $info;
}
.result_body .result_list #hit_list .hit_item .hit_state .mir-submitted {
  color: $warning;
  border: 1px solid $warning;
  background-color: white;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
