/*  section home
 *  - settings for homepage only
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  .mir-start_page {
    #page {
      padding-top: 0;
    }
    .mhh-background-tile {
      background-color: rgba(57, 57, 57, 0.81);
      border-radius: 6px;
      color: #fff;
      display: flex;
      flex-direction: column;
      padding: 30px;
      max-width: 600px;
    }
    .jumboone {
      padding: 100px 50px 50px 50px;
      background-image: url('../../../../images/background-sample.png');
      background-repeat: no-repeat;
      background-size: cover;
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }
    .jumbotwo {
      padding: 50px;
      background-color: $mhhWhiteDark;
    }
    .card-title {
      font-size: 1.8rem;
      color: $mhhROrangeDark;
      margin-bottom: 1.5rem;
    }
    .card-body {
      font-size: 1rem;
    }
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
