html {
  position: relative;
  min-height: 100%;
}

html body {
  margin-bottom: 160px; /* Margin bottom by footer height */
}

/* ----------------------------------------------------------------------------
   Navigation
---------------------------------------------------------------------------- */

.mir-main-nav nav .navbar-nav > li > a,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a,
.dropdown-menu > li > a {
  color: white; /* #939393; */
}

.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:focus,
.mir-main-nav nav .navbar-nav > li > a:hover {
  background-color: #cc0000; /* #d3c7af; */
}

.mir-main-nav nav .navbar-nav .dropdown-menu {
  background-color: #cc0000; /* #e5ded0; */
}

.mir-main-nav {
  box-shadow: none;
}
.navbar {
  min-height: 30px;
}
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

#mhh-bibliothek {
  color: #786e64;
  font-weight: bold;
  font-size: large;
}

#project_logo_box {
  position: absolute;
  left: 20px;
  top: -74px;
}

#options_nav_box {
  position: relative;
  text-align: right;
}
.searchfield_box {
  position: absolute;
  right: 0;
  top: 56px;
  width: 200px;
}
.searchfield_box .form-control,
.searchfield_box input {
  border-width: 0px;
  border-radius: 0px;
  background-color: #9c0000;
  color: white;
}
.searchfield_box .btn-primary {
  color: #fff;
  background-color: transparent;
  border-width: 0px;
  margin: 4px 0 0 5px;
  padding: 0;
}
html body header #searchInput {
  padding: 0px 15px;
  margin-top: 7px;
}
.form-control::placeholder {
  color: #ab8888;
}


/* ----------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------- */

html body #powered_by {
  background-color: white; /* #e5ded0; */
  border-top: 0px solid #505050; /* #d3c7af; */
}

.flatmir-footer {
  border-top: 1px solid #505050; /* #d3c7af; */
  color: #000;
  background-color: white;
  margin-top: 0;
  margin-bottom: 72px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
}

.flatmir-footer a {
  color: #c00;
}
